  <footer class="footer">
    <p>
      Developed by: Thomas Oide
    </p>
    <p>
      Data last updated: March 2018
    </p>
    <p>
      Copyright 2018.
      All Rights reserved
    </p>
  </footer>
  </div>
  </body>
</html>
