<!--  Headers: Domine
Subhead: helvetica neue
Body: Domine-->

<% include partials/header %>

  <div class="formContainer">
    <h1>Missouri State Worker Salary Database</h1>
    <form action="/search" method="POST" id="search">
      <div class="nameInput">
        <input type="text" name="last" placeholder="Last Name" required/>
        <input type="text" name="first" placeholder="First Name" required/>
      </div>
      <button id="searchButton">Search</button>
    </form>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Agency</th>
      </tr>
    </thead>
    <tbody>
      <% results.forEach(function(result) { %>
      <tr>
        <td>
          <%= result.agency %>
        </td>
        <td>
          <%= result.pay %>
        </td>
      </tr>
    <% }); %>
    </tbody>
  </table>



<% include partials/footer %>
