<!--  Headers: Domine
Subhead: helvetica neue
Body: Domine-->

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/app.css" />
		<link href="https://fonts.googleapis.com/css?family=Domine|Open+Sans" rel="stylesheet">
	</head>
	<body>
    <div class="container">
      <h1 id="homepageHeader">Columbia Missourian State Worker Salary Database</h1>
			<div class="introContainer">
				<p class="intro">
					See what Columbia police officers, public officials and UM System employees make. The Columbia Missourian's database includes salary information for the UM System, City of Columbia and the State of Missouri.
				</p>
			</div>
      <div class="card-container">
        <div class="card">
          <div class="card-body">
            <a href="UMSystem"><h5 class="card-title">UM System</h5></a>
            <p class="card-text">Salary information for hospital employees, UM System employees and UM System administrators.</p>
          </div>
        </div>
          <div class="card">
            <div class="card-body">
              <a href="city"><h5 class="card-title">City of Columbia</h5></a>
              <p class="card-text">Salary information for City of Columbia employees, including Columbia PD and Columbia Fire Department.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <a href="govt"><h5 class="card-title">State of Missouri</h5></a>
              <p class="card-text">Salary information for state legislators and others who are employed by the State of Missouri.</p>
            </div>
          </div>
      </div>
    </div>

<% include partials/footer %>
