<!--  Headers: Domine
Subhead: helvetica neue
Body: Domine-->

<% include partials/header %>
    <h1>Columbia Missourian Salary Database</h1>
    <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="UMSystem"><h5 class="card-title">UM System</h5></a>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="city"><h5 class="card-title">City</h5></a>
            <p class="card-text">Salary information for the employees of the City of Columbia.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <a href="cps"><h5 class="card-title">Columbia Public Schools</h5></a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <a href="govt"><h5 class="card-title">State Government</h5></a>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
  </div>





<% include partials/footer %>
