<% include partials/header %>

<div class="formContainer">
  <h1>Missouri State Worker Salary Database</h1>
  <form action="/search" method="POST" id="search">
    <div class="nameInput">
      <input type="text" name="last" placeholder="Last Name" required/>
      <input type="text" name="first" placeholder="First Name" required/>
    </div>
    <button id="searchButton">Search</button>
  </form>
</div>

<h4>Record not found</h4>

<% include partials/footer %>
