body {
  margin: 0 0;
  background: #304977;
}

.nameInput input {
  margin: 5px;
}

.button {
  width: 20%;
  border: solid .75px #b8b8b8;
}

.formContainer {
  background-color: #304977;
  top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.search {
  padding-top: 25px;
  padding-bottom: 25px;
}

#searchButton {
  margin: 10px;
}

h1 {
  color: #ffffff;
  padding-top: 20px;
  margin: 0 0;
  font-family: 'Domine', Serif;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
  font-size: 16px;
  background-color: #304977;
}

tr th {
  color: #ffffff;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tbody tr {

}
