body {
  margin: 0 0;
  background-color: #304977;
}

.nameInput input {
  margin: 5px;
}

.button {
  width: 20%;
  border: solid .75px #b8b8b8;
}

.formContainer {
  background-color: #304977;
  top: 60px;
  margin-bottom: 20px;
  padding-bottom: 35px;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.search {
  padding-top: 25px;
  padding-bottom: 25px;
}

#searchButton {
  margin: 10px;
}

.header {
  color: #ffffff;
  padding-top: 20px;
  margin: 0 0;
  font-family: 'Domine', Serif;
}

table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border-spacing: 0;
    width: 100%;
}

thead {
  font-size: 16px;
  background-color: #304977;
}

tr th {
  color: #ffffff;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

nav {
  padding-top: 15px;
  margin: 0;
  background-color: #304977;
}

.navContainer {
  margin: 0 auto;
}

nav ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 0;
}

nav a {
    text-decoration: none;
    border: none;
    color: #fff;
    text-align: center;
    display: block;
}

nav a:hover {
  text-decoration: underline;
  color: #fff;
}

.card {
  border: 3px solid #fff;
  background-color: none;
}


@media only screen and (max-width: 760px) {

  table, thead, tbody, th, td, tr {
    display: block;

  }

  thead tr {
  		position: absolute;
  		top: -9999px;
  		left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
    border-bottom: 2.5px solid #000;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
  		top: 6px;
  		left: 6px;
  		width: 45%;
  		padding-right: 10px;
  }

  td:nth-of-type(1):before { content: "Last Name:"; }
  td:nth-of-type(2):before { content: "First Name:"; }
  td:nth-of-type(3):before { content: "Job:"; }
  td:nth-of-type(4):before { content: "Department:"; }
  td:nth-of-type(5):before { content: "Salary:"; }
}
