.nameInput {
  display: inline;
  text-align: center;
}

.formContainer {
  background-color: #304977;
  margin: 20px 20px;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
  font-size: 16px;
  background-color: #304977;
}

tr th {
  color: #ffffff;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

tbody tr {
  
}
